/* common */
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
}
.center{
    justify-content: center;
}

/* container */
.container{
    max-width: 1414px;
    margin: auto;
}
.btn{
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
}
.btn-Upcoming{
    background-color: #ffffff;
    color: #161616;
    padding: 17px 39px;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 10px;
    border: none;
    width: 252px;
    height: 64px;
    display:grid ;
    justify-content: center;
}
.btn-Group{
    background-color: #ffffff;
    color: #161616;
    padding: 17px 40px;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 10px;
    border: none;
    width: 252px;
    height: 64px;
    display:grid ;
    justify-content: center;
}
.btn-blog{
    background-color: #DD0000;
    color: #fff;
    padding: 17px 40px;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 10px;
    border: none;
    width: 252px;
    height: 64px;
    display:grid ;
    justify-content: center;
}

.btn-primary img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}

/* header */
.banner{
    margin-top: 80px;
    display: flex;
    background-color: #161616;
    padding: 0;
    align-items: center;
    border-radius: 15px;
    justify-content: space-around;
    margin-bottom : 100px ;
}
header h1{
    color: #fff;
    font-size: 4.3rem;
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 19px;
}
header p{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 19px;
}
header img{
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.header-left{
    max-width: 568px;
    margin-left: 125px;
}
.header-right{
    margin-top: 33px;
}

/* video section */
.video-left{
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 15px;
    display: grid;
    place-items: center;
}

